<ion-view title="首頁" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="page2-list4">
      <ion-item class="item-thumbnail-left" id="page2-list-item10" ui-sref="tabsController.page7" style="">
        <img src="img/store.jpg">
        <h2>華益百貨</h2>
          <label>採買外國餅乾的好地方</label><br /><br />
          <label>推薦指數　<img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
              </label>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page2-list-item11" ui-sref="tabsController.pushpin" style="">
        <img src="img/pushpin.jpg">
        <h2>圖釘餐酒</h2>
          <label>我們的開店宗旨<br />就是來自於對食物最真誠的愛。</label><br />
          <label>推薦指數　<img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
              <img src="img/star.png" width="15px" />
          </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>