<ion-view title="Login" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input placeholder="" type="text" id="username">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input placeholder="" type="password" id="pass">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button1" class="button button-stable  button-block" ng-click="Submit()">Log in</button>
      <a ui-sref="signup" href-inappbrowser="_system" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>